<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!--JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <form th:action="@{/customer/edit}" th:object="${customerForm}" method="post">
        <dl>
            <dt><label for="name">Name</label></dt>
            <dd>
                <input type="text" id="name" name="name" th:field="*{name}" th:errorclass="error-input" value="山田　太郎">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">error!</span>
            </dd>
            <dt><label for="email">e-mail</label></dt>
            <dd>
                <input type="text" id="email" name="email" th:field="*{email}" th:errorc4lass="error-input" value="taro_yamada@example.com" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-messages">error!</span>
            </dd>
        </dl>
        <input type="submit" name="goToTop" value="back" />
        <input type="hidden" name="id" th:value="${param.id[0]}"/>
        <input type="submit" value="update" />
    </form>
</body>
</html>